<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>智能鞋垫平台|找回密码</title>
</head>
<body>

{% if validlink %}
<h1>请输入新的密码</h1>
<form method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">新密码</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">确认新密码</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="提交" /></p>
</form>

{% else %}
<p>密码重置的链接已失效。请重新申请密码重置</p>

{% endif %}
</body>
</html>

